*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: black;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    background-color: rgb(97, 95, 95);
    color: white;
    width: 30em;
    height: 20em;
    text-align: center;
    margin: 10em;
    border-radius: 10px;
    border: 1px solid white;
    padding: 40px;

}

.itens, .itens2, .itens3, .itens4{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    left: 2em;
}

h1{
color: white;
text-align: center;
position: relative;
top: 5em;
text-decoration: underline;
}

input{
    border-radius: 10px;
    border: none;
}